.Big-btn {
    right: 0;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border-radius: 4px;
    padding: 0.7rem 2.0625rem;
    background-color: #2b2727;
    color: #e5e5e5;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  .Big-btn:focus {
    outline: none;
  }